#home {
  background-image: url("../images/skincare.avif");
  height: 90vh;
  width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}

.box {
  position: absolute;
  left: 15%;
  top: 15%;
}

p {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

p::first-line {
  color: red;
}

span {
  font-size: 1.5vw;
  display: inline-block;
  font-weight: 500;
}

button {
  width: 5.5vw;
  height: 3vh;
  font-size: 1vw;
  cursor: pointer;
}