nav {
  padding: 0.5% 20% 0.5% 20%;
  height: 8vh;
}

ul, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  width: 35%;
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
}

img {
  width: 4vw;
}